@{
    ViewBag.Title = "Ng Collection: Order Submitted";
    Layout = "~/Views/Shared/_productDetailsLayout.cshtml";

}
<h2>Thanks!</h2>
Thanks for placing your order. We'll ship your goods as soon as possible.
<p>10% discount if this is your first order from our store.</p>
<hr />
<p>
    <a href="~/Home/Index">Return to  NG-COLLECTION home page</a>
</p>
