<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title - Ng-Collections</title>

    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" href="~/Content/images/favicon/1.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/Content/images/favicon/1.png" type="image/x-icon">

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/fontawesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/color1.css" media="screen" id="color">
    <link href="~/Content/css/ErrorStyles.css" rel="stylesheet" />


</head>
<body>

    <!-- header start -->
    <header>
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul>
                                <li>Welcome to Ng-Collections</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 08174731364, 08033208157</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <ul class="header-dropdown">
                            <li class="mobile-wishlist"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a></li>
                            <li class="onhover-dropdown mobile-account">
                                <i class="fa fa-user" aria-hidden="true"></i> My Account
                                <ul class="onhover-show-div">
                                    <li><a href="~/Account/Login" data-lng="en">Login</a></li>
                                    <li><a href="~/Account/Logout" data-lng="es">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="navbar">
                                <a href="javascript:void(0)" onclick="openNav()">
                                    <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i></div>
                                </a>
                                <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                    <nav>
                                        <div onclick="closeNav()">
                                            <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back</div>
                                        </div>

                                    </nav>
                                </div>
                            </div>
                            <div class="brand-logo">
                                <a href=""><img src="~/Content/images/icon/logo/logo.png" class="img-fluid blur-up lazyload" alt=""></a>
                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                <nav id="main-nav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                        <li>
                                            <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                        </li>
                                        <li>
                                            <a href="~/Home/Index">Home</a>

                                        </li>
                                        <li>
                                            <a href="#">Men</a>
                                            <ul>
                                                
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Women</a>
                                            <ul>
                                                <li><a href="~/Product/List?id=1">Short gown</a></li>
                                                <li><a href="~/Product/List?id=2">Women Long gown</a></li>
                                                <li><a href="~/Product/List?id=3">Women Skirt & blouse</a></li>
                                                <li><a href="~/Product/List?id=4">Women Trousers</a></li>
                                                <li><a href="~/Product/List?id=5">Women Tops</a></li>
                                                <li><a href="~/Product/List?id=6">Women Packet shirts</a></li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="~/Blog/Blogs">blog</a>

                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div>
                                <div class="icon-nav">
                                    <ul>
                                        <li class="onhover-div mobile-search">
                                            <div><img src="~/Content/images/icon/search.png" onclick="openSearch()" class="img-fluid blur-up lazyload" alt=""> <i class="ti-search" onclick="openSearch()"></i></div>
                                            <div id="search-overlay" class="search-overlay">
                                                <div>
                                                    <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
                                                    <div class="overlay-content">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-xl-12">
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search a Product">
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <div class="container">
        @RenderBody()
    </div>



    <!-- footer -->
    <footer class="footer-light">
         
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p><i class="fa fa-copyright" aria-hidden="true"></i> 2019 NgCollection.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="2123438804574660"
         theme_color="#0084ff"
         logged_in_greeting="Hi! Welcome to PixelStrap Themes  How can we help you?"
         logged_out_greeting="Hi! Welcome to PixelStrap Themes  How can we help you?">
    </div>
    <!-- facebook chat section end -->
    <!-- cart start -->
    <div class="addcart_btm_popup" id="fixed_cart_icon">
        <a href="#" class="fixed_cart">
            <i class="ti-shopping-cart"></i>
        </a>
    </div>
    <!-- cart end -->
    <!-- tap to top -->
    <div class="tap-top top-cls">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top end -->
    <!-- latest jquery-->
    <script src="~/Scripts/js/jquery-3.3.1.min.js"></script>

    <!-- fly cart ui jquery-->
    <script src="~/Scripts/js/jquery-ui.min.js"></script>

    <!-- exitintent jquery-->
    <script src="~/Scripts/js/jquery.exitintent.js"></script>
    <script src="~/Scripts/js/exit.js"></script>

    <!-- popper js-->
    <script src="~/Scripts/js/popper.min.js"></script>

    <!-- slick js-->
    <script src="~/Scripts/js/slick.js"></script>

    <!-- menu js-->
    <script src="~/Scripts/js/menu.js"></script>

    <!-- lazyload js-->
    <script src="~/Scripts/js/lazysizes.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/Scripts/js/bootstrap.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="~/Scripts/js/bootstrap-notify.min.js"></script>

    <!-- Fly cart js-->
    <script src="~/Scripts/js/fly-cart.js"></script>

    <!-- Theme js-->
    <script src="~/Scripts/js/script.js"></script>

    <script>
    </script>

    <script>
        $(window).on('load', function () {
            $('#exampleModal').modal('show');
        });
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }


        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>
</body>
</html>
